
<div class="section">
    <h1>Create New Assignment</h1>

    <%= form_with(model: @assignment) do |form| %>
    <% if @assignment.errors.any? %>
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div>
      <%= form.label :due_date %>
      <%= form.datetime_select :due_date %>
    </div>

    <div>
      <%= form.submit "Create Assignment" %>
      <%= link_to "Back to Assignments", assignments_path %>
    </div>

  <% end %>
</div>
