<div class="section">
  <h1><%= @assignment.title %></h1>
  <p><%= @assignment.description %></p>
  <p>Due: <%= @assignment.due_date %></p>

<% if current_user.admin? && @assignment.uploads.any? %>
    <p>Uploaded File: <%= link_to "Download", rails_blob_path(@assignment.uploads.first.file, disposition: "attachment") %></p>
<% elsif current_user.admin? %>
    <p>No file uploaded yet.</p>
<% end %>

  <% if current_user.student? %>
    <% if @assignment.uploads.where(user: current_user).empty? %>
      <h3>Upload your file</h3>
        <%= form_with url: "/assignments/#{@assignment.id}/upload", method: :post, local: true, html: { enctype: "multipart/form-data" } do |form| %>
        <%= form.file_field :file %>
        <%= form.submit "Upload" %>
        <% end %>
    <% else %>
      <p>Your uploaded file: <%= link_to "Download", rails_blob_path(@assignment.uploads.find_by(user: current_user).file, disposition: "attachment") %></p>
    <% end %> <!-- End file upload check -->
  <% end %> <!-- End student check -->

  <%= link_to "Back to Assignments", assignments_path %>

  <% if current_user.admin? %>
    <%= button_to 'Delete Assignment', assignment_path(@assignment), method: :delete, data: { confirm: "Are you sure you want to delete this assignment?" }, class: 'delete-button' %>
  <% end %> <!-- End admin check for delete -->
</div>
